.app-container {
  min-height: 100vh;
  display: flex;
}
.event-container {
  background-color: #475569;
  height: 100vh;
  padding: 20px;
  width: 60%;
  overflow-y: auto;
}
.events-section-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
}
.events-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}
.registration-details-container {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
}

* {
  /* border: 1px solid red; */
}
