.event-item {
  margin-bottom: 10px;
  width: 45%;
}
.event-image-button {
  padding: 0;
  background-color: transparent;
  border: none;
  margin-bottom: 8px;
  cursor: pointer;
  outline: none;
}
.event-image {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid transparent;
  border-radius: 12px;
  max-width: 460px;
}
.event-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 0;
}
.event-location {
  color: #f8fafc;
  font-family: 'Roboto';
  margin: 0;
  font-size: 16px;
}
.active-image {
  border-color: #2dd4bf;
}
